*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header
{
    display:flex;
    background-color: beige;
    padding:10px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
nav{
    background-color: rgb(119, 166, 195);
    padding:5px;
    align-self:center;
}
a{
    text-decoration: none;
    margin:5px;
    cursor: pointer;
    color:white;
    
}
